$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

$gradient-primary: linear-gradient(
  180deg,
  $light-slate-blue,
  $light-royal-blue
);

$gradient-secondary: linear-gradient(180deg, $violet-blue, $persian-blue);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

$fs-sm: 1.125rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 4.5rem;

$fs-mobile-sm: 1rem;
$fs-mobile-lg: 1.5rem;
$fs-mobile-xl: 3.5rem;

$fw-regular: 500;
$fw-bold: 700;
$fw-black: 800;

$font-default: "HankenGrotesk", sans-serif;

$card-bradius: 2rem;
$btn-bradius: 8rem;
$summary-item-bradius: 0.75rem;

$padding-desktop: 2.5rem;
$padding-mobile: 1.5rem;

$breakpoint: 37.5em;
